body{
    margin: 0px;
    text-align: center;
    width: 100%;
    height: fit-content;
    color: rgb(253, 253, 253);
    
}
.navbar{
    padding: 0 13% 0 13%;
}
.nav-link{
    color: white !important;
}
/*#house{
    margin-left:160px;
}
#heart{
    margin-left: 5px;
}

#right-search{
  
   margin-right: 11.25rem!important;
}*/

.carousel-inner img{
    border-radius: 20px;
    box-shadow: 0px 9px 42px  rgb(255 0 122);
    margin-top: 10px;
}  
.menu-button{
    border: 0px;
    outline: none;
    cursor: pointer;
    min-height: 3.125rem;
    background: rgb(255, 152, 0);
    width: auto;
    padding: 0.5625rem 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    border-radius: 0.1875rem;
    color: rgb(255, 255, 255);
    user-select: none;
    transition: all 0.3s ease 0s;
}
.menu-button:active {
    transform: translateY(10px);
  }
#buybtn{
    cursor: pointer;
    color: blue;
    font-size: 25px ;
    text-decoration: underline;
}

.card img{
    height: 190px; ;
}
.Videos{
    height: 755px;
   }

.Grid{
    width:100%;
    margin-top: 50px;
}
.col-3{
    padding-left: 0px; padding-right: 0px;
}
.col-6{
    padding-left: 0px; padding-right: 0px;

}
.col-3 iframe{
    width: 100%;
    height: 100%;
}
.col-6 iframe{
    width: 100%;
    height: 100%;
}
.card:hover{
    transform: scale(1.1);
}
.Card{
    float: left; 
    padding: 0 3% 0 3%;
    align-items: center;
    }

#card1{
    box-shadow: 2px 2px 50px 6px rgb(250 255 175)
}
#card2{
    box-shadow: 2px 2px 50px 6px rgb(250 255 175)
}
#card3{
    box-shadow: 2px 2px 50px 6px rgb(250 255 175)
}
#card4{
    box-shadow: 2px 2px 50px 6px rgb(250 255 175)

}
#card2:hover{
    box-shadow: 2px 2px 18px 6px rgb(0 255 233);
}
#card3:hover{
    box-shadow: 2px 2px 18px 6px rgb(0 255 233);
}
#card4:hover{
    box-shadow: 2px 2px 18px 6px rgb(0 255 233);
}
#card1:hover{
    box-shadow: 2px 2px 18px 6px rgb(0 255 233);
}

.parallax-scrolling{
    background-image: url("20201008062027_Jaguar-XF-2021-front-2.jpg");
    
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.Footer{
    margin-top: 0px;
}
footer{
    color: antiquewhite;
}
footer i {
    color: antiquewhite;
}
footer h6{
    color: antiquewhite;
}
footer p{
    color: antiquewhite;
}
#history img{
    border: #9f9999 5px solid; 
    margin-top: 40px;
    width: 1000px;
    box-shadow: 1px 0px 47px -2px;  
}
#history{
    position: relative;
}
#history-button{
     position: absolute;
     top: 20%;
     left: 42%;
     font-size: 40px;
     font-family: fantasy;
     background-color: transparent;
     color: rgb(255 227 143);
    padding: 12px 24px;
    border: #9f9999 solid;
    cursor: pointer;
    border-radius: 15px;
}
#history button:hover{
    background-color: rgb(71, 184, 71);
}
@media(max-width:700px){
    #history-button{
        font-size: 20px;
    }
}
.modal-title{
    color: darkblue;
}
.footer-btn{
    font-size: 20px;
    color: darkblue;
    background-color: rgb(233, 99, 99)

}
